[submodule "examples/quanttide-innov-lab"]
	path = examples/quanttide-innov-lab
	url = https://github.com/quanttide/quanttide-innov-lab.git
	shallow = true
[submodule "docs/essay"]
	path = docs/essay
	url = https://github.com/quanttide/quanttide-essay-of-innovation-management
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-innovation-management
