[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-innovation-management
	shallow = true
[submodule "docs/essay"]
	path = docs/essay
	url = https://github.com/quanttide/quanttide-essay-of-innovation-management
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-innovation-management
[submodule "assets/Lumi"]
	path = assets/Lumi
	url = https://github.com/deku0818/Lumi
